<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ChatApp - Topic Goes Here</title>
    <link rel="stylesheet" href="/css/chatroomStyles.css" />
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://widget.cloudinary.com/global/all.js"></script>
    <script src="/babel.min.js"></script>
    <script>
      'use strict';
      $(() => {
        let socket = io('<%= host %>' + '/chatter', {
          transports: ['websocket']
        });
        let roomID = '<%= roomID %>';
        let user = '<%= user.fullName %>';
        let userPic = '<%= user.profilePic %>';
        let chatUsers = $('.chatUsers');
        let chatInput = $("input[name ='userInput']");
        let chatMessageDiv = $('.chatMessages');
        let fileUpload = $('#uploadFile');
        let userIsTyping = $('#typing');
        var typing=false;
        var timeout = undefined;

        socket.on('connect', () => {
          socket.emit('join', {
            roomID,
            user,
            userPic,
          })
        });

        let userList = user => {
          return `<div class="userBlock">
              <div class="userPic">
                <img src="${user.userPic}" alt="${user.user}" />
              </div>
              <div class="cuserName">${user.user}</div>
            </div>`;
        };

        let updateMessage =(userPic, message) => {
          $('.chatMsgtyp').remove();
          let template = `<div class="chatBlock">
                <div class="userPic"><img src="${userPic}"/></div>
                <div class="chatMsg">${message}</div>
              </div>`;
              $(template).hide().appendTo(chatMessageDiv).slideDown(200);
        }

        socket.on('updateUsersList', data => {
          let parsedData = JSON.parse(data);
          let usersListData = '';
          for(let user of parsedData) {
            usersListData += userList(user);
          }
          chatUsers.html('').html(usersListData);
        });
        chatInput.on('keyup', function(event){
          event.preventDefault();
          let messageToDisplay = $(this);
          if(event.which === 13 && messageToDisplay.val() !== ''){
            //Emit the message to chatRoom
            socket.emit('message', {
              roomID,
              userPic,
              user,
              message: messageToDisplay.val()
            });
            // Update the local feed
            updateMessage(userPic, messageToDisplay.val());
            messageToDisplay.val('');
          }
        });

        socket.on('inMessage', data => {
          let parsedData = JSON.parse(data);
          updateMessage(parsedData.userPic, parsedData.message);
        });

        //Upload a picture via cloudinary
        fileUpload.on('click', ()=>{
          cloudinary.openUploadWidget({
           cloud_name: 'duzpmyphv',
           upload_preset: 'ivvprlhx'
          }, (error, result)=>{
            if(!error){
              let setImage = '';
              for(let img of result){
                setImage += `<img src="${img.url}">`
              }
              updateMessage(userPic, setImage);

              socket.emit('message', {
                roomID,
                user,
                userPic,
                message: setImage
              })
            }
          });
        });
        $('#message-box').keypress((e)=>{
          if(e.which !== 13){
            typing=true
            socket.emit('typing', { user, typing });
            clearTimeout(timeout);
            timeout=setTimeout(typingTimeout, 3000);
        }else{
          clearTimeout(timeout)
          typingTimeout()
        }
      })
      
      //display user is typing......
      socket.on('display', (data)=>{
        if(data.typing) {
          $('.typing').text(`${data.user} is typing.......`);
        }else{
         $('.typing').text("");
        }
    })
   socket.on('displays', data =>{
     if(data.user){
      let template = `<div id="joined">${data.user} just joined</div>`;
      $(template).hide().appendTo('.chatUsers').slideDown(200);
       setTimeout(()=>{
        $('#joined').remove();
      },3000)
     }
   });
   socket.on('userLeft', data =>{
     if(data.user){
      let template = `<div id="joined">${data.user} just left</div>`;
      $(template).hide().appendTo('.chatUsers').slideDown(200);
       setTimeout(()=>{
        $('#joined').remove();
      },3000)
     }
   })

      function typingTimeout(){
        typing=false
        socket.emit('typing', { user, typing });
    }
      });
    </script>
  </head>
  <body>
    <div id="hero">
      <div class="container">
        <div class="titlePanel">
          <h1>Meet & Tang | Welcome to <%= room %> room </h1>
        </div>
        <div class="controls">
          <div class="userPicHolder">
            <img src="<%= user.profilePic %>" alt="<%= user.fullName %>" />
          </div>
          <h2 class="userName"><%= user.fullName %></h2>
          <a href="/rooms" id="roomsBtn">Rooms</a>
          <a href="/logout" id="logOutBtn">Logout</a>
        </div>
        <div class="chatListDiv">
          <div class="chatMessagesPanel">
            <div class="chatMessages">
              <div class="typing"></div>
              <!-- Loop this for chat messages -->
              <!-- loop end -->
            </div>
            <div class="typing"></div>
            <div class="typePanel">
              <input
                type="text"
                name="userInput"
                id="message-box"
                placeholder="Type here and press enter"
              />
              
              <a href="#" id="uploadFile" class="fileUploadBtn">Photo</a>
            </div>
          </div>
          <div class="chatUsers">
            <div id="joined"></div>
            <!-- Loop this for chat users -->
            <div class="userBlock">
              <div class="userPic">
                <img src="<%= user.profilePic %>" alt="<%= user.fullName %>" />
              </div>
              <div class="cuserName"><%= user.fullName %></div>
            </div>
            <!-- loop end -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
